/* DayPicker styles */
.rdp {
  --rdp-cell-size: 40px;
  --rdp-caption-font-size: 18px;
  --rdp-accent-color: #0000ff;
  --rdp-background-color: #ffffff;
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 3px solid var(--rdp-accent-color);
  --rdp-selected-color: #fff;
  margin: 1em 0;
}
.rdp-vhidden {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute !important;
  top: 0;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.rdp-flex {
  display: flex;
}
.rdp-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em;
  text-align: left;
  height: calc(var(--rdp-cell-size) * 0.8);
}
.rdp-caption_dropdowns {
  position: relative;
  display: inline-flex;
}
.rdp-caption_label {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  white-space: nowrap;
  color: var(--rdp-selected-color);
  border: 2px solid transparent;
  border-radius: 0.25em;
  background-color: var(--rdp-accent-color);
  font-weight: bold;
  font-size: var(--rdp-caption-font-size);
}
.rdp-nav {
  white-space: nowrap;
}
.rdp-nav_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  padding: 0.25em;
  border-radius: 0.25em;
}
.rdp-dropdown_month,
.rdp-dropdown_year {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.rdp-table {
  margin: 0;
  max-width: calc(var(--rdp-cell-size) * 7);
  border-collapse: collapse;
}
.rdp-head {
  border: 0;
}
.rdp-head_row,
.rdp-row {
  height: var(--rdp-cell-size);
}
.rdp-head_cell {
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  height: var(--rdp-cell-size);
  padding: 0 0.5em;
}
.rdp-tbody {
  border: 0;
}
.rdp-tfoot {
  margin-top: 0.5em;
}
.rdp-cell {
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  padding: 0;
  text-align: center;
  border: 0;
}
.rdp-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
}
.rdp-day_today {
  font-weight: bold;
}
.rdp-day_selected,
.rdp-day_selected:focus,
.rdp-day_selected:active,
.rdp-day_selected:hover {
  color: var(--rdp-selected-color);
  background-color: var(--rdp-accent-color);
}
.rdp-day_selected:focus {
  outline: var(--rdp-outline-selected);
  outline-offset: 2px;
}
.rdp-day_outside {
  opacity: 0.5;
}
.rdp-day_disabled {
  opacity: 0.25;
}
.rdp-button:focus,
.rdp-button:active {
  border: 2px solid var(--rdp-accent-color);
  outline: none;
}
.rdp-button:hover {
  background-color: #e7edff;
}
.rdp-button[disabled]:hover {
  background-color: transparent;
}
@media (prefers-color-scheme: dark) {
  .rdp {
    --rdp-accent-color: var(--rdp-accent-color-dark);
    --rdp-background-color: var(--rdp-background-color-dark);
  }
  .rdp-button:hover {
    background-color: #1c025b;
  }
  .rdp-button:focus,
  .rdp-button:active {
    border-color: var(--rdp-accent-color);
  }
}